
form(method='POST')
  - if (typeof(err) != 'undefined')
    .error= err
  .tab
    h2 Vendor
    fieldset
      .fields.required
        label name
        input.input.name(name='name',placeholder='e.g. Jodesco',value=vendor.name)
      .fields
        label contact
        input.input.contact(name='contact',placeholder='e.g. Scott 555-555-5555',value=vendor.contact)
      .fields.required
        label address
        input.input.address(name='address',placeholder='e.g. 123 Fake St',value=vendor.address)
      .fields
        - if (typeof(vendor.coordinates)=='object' && vendor.coordinates.length && vendor.coordinates.length == 3)
          img.google-map(src='//maps.googleapis.com/maps/api/staticmap?center='+vendor.coordinates[0]+','+vendor.coordinates[1]+'&markers=color:red%7Clabel:V%7C'+vendor.coordinates[0]+','+vendor.coordinates[1]+'&zoom=13&size=256x100&sensor=false')
        - else
          img.google-map.disabled(src='//maps.googleapis.com/maps/api/staticmap?center=Times%20Square%20NY&markers=color:red%7Clabel:V%7CTimes%20Square%20NY&zoom=13&size=256x100&sensor=false')
      .fields
        label description
        textarea.input.description(name='description',placeholder="e.g. Subs so fast you'll freak")=vendor.description
      .fields
        label hours
        textarea.input.hours(name='hours',placeholder='e.g. Monday-Saturday 11-9')=vendor.hours
    .buttons
      input.submit(type='submit',value='Save')
      input.cancel(type='button',value='Delete')
  .tab.vendor-user(id=vendor._id)
    h2 Users
    fieldset
      .add-row(role='vendor')
        a.add(href='#') add user
      - if (typeof(vendor.users) == 'object')
        != partial('row_user',{collection:vendor.users,as:'user'})
  .tab.vendor-deal(id=vendor._id)
    h2 Deals
    fieldset
      .add-row(role='vendor')
        a.add(href='#') add deal
      - if (typeof(vendor.deals) == 'object')
        != partial('row_deal',{collection:vendor.deals,as:'deal'})