
form(method='POST')
  - if (typeof(err) != 'undefined')
    .error= err
  .tab
    h2 Vendor
    fieldset
      .fields.required
        label business name
        input.input.name(name='name',placeholder='e.g. Jodesco',value=vendor.name,autocomplete='off')
      .fields.required
        label zip or city
        input.input.address(name='address',placeholder='e.g. 85260',autocomplete='off')
      .fields
        - if (typeof(vendor.coordinates)=='object' && vendor.coordinates.length && vendor.coordinates.length == 3)
          img.google-map(src='//maps.googleapis.com/maps/api/staticmap?center='+vendor.coordinates[0]+','+vendor.coordinates[1]+'&markers=color:red%7Clabel:V%7C'+vendor.coordinates[0]+','+vendor.coordinates[1]+'&zoom=13&size=256x100&sensor=false')
        - else
          img.google-map.disabled(src='//maps.googleapis.com/maps/api/staticmap?center=Times%20Square%20NY&markers=color:red%7Clabel:V%7CTimes%20Square%20NY&zoom=13&size=256x100&sensor=false')
      .fields
        label address
        input.input.real-address(name='address',placeholder='',autocomplete='off',value=vendor.address)
      .fields
        label phone
        input.input.contact(name='contact',placeholder='',autocomplete='off',value=vendor.contact)
      .fields
        label site url
        input.input.site_url(name='site_url',placeholder='',autocomplete='off',value=vendor.site_url)
      .fields
        label yelp url
        input.input.yelp_url(name='yelp_url',placeholder='',autocomplete='off',value=vendor.yelp_url)
      .fields
        label hours
        textarea.input.hours(name='hours')=vendor.hours
      .fields
        label queue
        select.type(name='type')
          option(value='Active', selected=(vendor.type=='Active')) Active
          option(value='Pending', selected=(vendor.type=='Pending')) Pending
          option(value='Archived', selected=(vendor.type=='Archived')) Archived
    .buttons
      input.submit(type='submit',value='Save')
      input.cancel.delete(type='button',value='Delete')
  .tab.vendor-user(id=vendor._id)
    h2 Users
    fieldset
      .add-row(role='vendor')
        a.add(href='#') add user
      - if (typeof(vendor.users) == 'object')
        != partial('row_user',{collection:vendor.users,as:'user'})
  .tab.vendor-deal(id=vendor._id)
    h2 Deals
    fieldset
      .add-row(role='vendor')
        a.add(href='#') add deal
      - if (typeof(vendor.deals) == 'object')
        != partial('row_deal',{collection:vendor.deals,as:'deal'})